<h1>Hello, Welcome to your Articles Website</h1>
<form action="/articles" method="POST">
<h2>Write your article title: <input id="title" type="text" name="article[title]"></h2>
<h2>Write your article content: <input id="content" type="text" name="article[content]"></h2>
<input type="submit" name="submit" value="submit">
</form>